/* #region CSS Variables */
:root {
    --green: #79C000;
    --black: #231F20;
    --white: #ffffff;
    --gray: #D9D9DA;
}
/* #endregion */

/* #region Loading animation */

.lds-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--green);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--green) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
  

/* #endregion */

/* #region Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
.icon-green {
    color: var(--green);
}
.icon-white{
    color: white;
}
.bi::before {
    vertical-align: 0 !important;
}
/* #endregion */

/* #region Animations and Transitions */
@keyframes smooth-appear {
    to{
      bottom: 0px;
      opacity:1;
    }
  }
@keyframes smooth-appear-login-logo {
    to{
      bottom: calc(35% + 5px);
      opacity:1;
    }
  }
/* #endregion */

/* #region Always set the map height explicitly to define the size of the div elementthat contains the map. */
#map {
    height: 92%;
    width: 100%;
    position: absolute;
    z-index: 0;
    bottom: 0;
}
#map div {
    border-radius: 20px 20px 0 0;
}
/* #endregion */

/* #region Fill the window and set font */
html, body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    user-select: none;
    overflow: scroll;
}
/* #endregion */

/* #region Remove Maps API Terms of Use Watermark */
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    display: none !important;
}
/* #endregion */

/* #region Logo panel */
#logoPanel {
    background-color: white;
    width: 100%;
    height: 8%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}
#logoPanel img {
    width: 40%;
    position: absolute;
    left: 2%;
}
/* #endregion */

/* #region Zoom controls */
#zoomControls {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 2%;
}
#zoomControls div {
    background-color: var(--green);
    width: 6vh;
    height: 6vh;
    font-size: calc(0.20 * 20vh);
    margin-right: 0.8vh;
    border-radius: 999px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#zoomControls div i {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #endregion */

/* #region Search bar */
#searchBar {
    background-color: rgb(255, 255, 255);
    width: 67%;
    height: 7%;
    position: absolute;
    z-index: 2;
    left: 5%;
    bottom: 3%;
    outline: 3px solid var(--green);
    border-radius: 999px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: var(--green);
    border: none;
    font-size: medium;
}
#searchBar::-webkit-input-placeholder {
    color: var(--green);
}

/* Remove default webkit styling */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
/* #endregion */

/* #region User picture */
#userPicture {
    background-color: var(--white);
    width: 7vh;
    height: 7vh;
    position: absolute;
    z-index: 2;
    right: 5%;
    bottom: 3%;
    border-radius: 999px;
    outline: 3px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}
#userPicture img {
    border-radius: 999px;
    width: 7vh;
    height: 7vh;
}
#userPicture i {
    font-size: calc(0.20 * 25vh);
}
/* #endregion */

/* #region Station menu */
.station-menu {
    background-color: var(--white);
    width: 100%;
    height: 45%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -45%;
    border-radius: 20px 20px 0 0;
    animation: smooth-appear 1s ease forwards;
}
.station-menu #stationName {
    width: 55%;
    height: 25%;
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 5%;
    display: flex;
    align-items: center;
    text-align: center;
}
.station-menu #stationImage {
    width: 30%;
    position: absolute;
    z-index: 2;
    right: 5%;
    top: 5%;
}
.station-menu #availableBikesNumber {
    width: 90%;
    height: 10%;
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 35%;
    text-align: center;
}
.station-menu #cancelButton {
    background-color: var(--green);
    width: 42.5%;
    height: 15%;
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 52%;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.station-menu #seeBikesButton {
    background-color: var(--green);
    width: 42.5%;
    height: 15%;
    position: absolute;
    z-index: 2;
    left: 52.5%;
    top: 52%;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
/* #endregion */

/* #region Login menu */
.login-menu {
    background-color: rgba(35, 31, 32, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.login-menu img {
    position: absolute;
    bottom: -(calc(35% + 5px));
    left: 25%;
    animation: smooth-appear-login-logo 1s ease forwards;
}
#loginCard {
    background-color: white;
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: -35%;
    left: 0;
    border-radius: 20px 20px 0 0;
    animation: smooth-appear 1s ease forwards;
}
#loginCard input{
    position: absolute;
    width: calc(70% - 35px - 15px);
    height: 15%;
    left: 15%;
    top: 10%;
    line-height: 15%;
    text-decoration: none;
    border: none;
    outline: 3px solid var(--green);
    padding: 5px 15px;
    border-radius: 999px;
    background-image: url("https://icons.getbootstrap.com/assets/icons/envelope-at.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: calc(100% - 14px);
    padding-right: 35px;
}
#loginCard input[name=password]{
    top: 35%;
    background-image: url("https://icons.getbootstrap.com/assets/icons/key.svg");
}
#registerButton, #loginButton {
    background-color: var(--green);
    width: 42.5%;
    height: 20%;
    position: absolute;
    z-index: 2;
    left: 5%;
    bottom: 15%;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
#loginButton {
    left: unset;
    right: 5%;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: none;
}
/* #endregion */

/* #region Bike list */
.bike-list {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0;
    border-radius: 20px 20px 0 0;
}
.bike-list #backButton {
    position: absolute;
    top: 2%;
    left: 5%;
    background-color: var(--green);
    width: 8vh;
    height: 8vh;
    font-size: calc(0.35 * 8vh);
    margin-bottom: 1vh;
    border-radius: 999px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bike-list #backButton i {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bike-list #stationName {
    width: 40%;
    height: 10%;
    position: absolute;
    z-index: 2;
    left: 25%;
    top: 2%;
    display: flex;
    align-items: center;
    text-align: center;
    word-break: break-all;
    white-space: pre-wrap;
}
.bike-list #stationImage {
    width: 30%;
    position: absolute;
    z-index: 2;
    right: 5%;
    top: 2%;
}
.bike-list #bikeList {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 15%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 84%;
    overflow: scroll;
}
.bike-list-element {
    background-color: var(--green);
    border-radius: 999px;
    padding: 15px 25px;
    position: relative;
    margin-bottom: 10px;
}
.bike-list-element #reserveBikeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--black);
    border-radius: 999px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}
/* #endregion */

/* #region Bike reserve */
.bike-reserve {
    background-color: rgba(35, 31, 32, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
#bikeReserveCard {
    background-color: white;
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
}
#bikeReserveCard #backButton {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: transparent;
    width: 8vh;
    height: 8vh;
    font-size: calc(0.35 * 8vh);
    margin-bottom: 1vh;
    border-radius: 999px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bikeReserveCard #backButton i {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
}
#bikeReserveCard #textContent {
    position: absolute;
    top: 30px;
    left: calc(8vh + 2% + 5px);
    width: calc(80% - 20px - 20px);
}
#bikeReserveCard img {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20%;
}
#bikeReserveCard #unlockSlider {
    appearance: none;
    background-color: var(--black);
    width: 90%;
    height: 20%;
    position: absolute;
    left: 5%;
    bottom: 10%;
    border-radius: 999px;
    z-index: 4;
}
#bikeReserveCard #unlockSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: calc(0.2 * 35vh);
    width: 45vw;
    border-radius: 999px;
    background-color: var(--green);
    background-image: url('images/unlockSlider_PT.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#bikeReserveCard #unlockSlider::-moz-range-thumb {
    height: 100%;
    width: 50%;
    background-color: var(--green);
    cursor: pointer;
    border-radius: 999px;
    border: none;
    background-image: url('images/unlockSlider_PT.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
#bikeReserveCard #footer {
    position: absolute;
    right: unset;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* #endregion */

/* #region Trip overlay */
.trip-overlay {
    background-color: var(--green);
    width: 100%;
    height: 23%;
    position: absolute;
    top: 8%;
    left: 0;
    border-radius: 0 0 20px 20px;
    z-index: 3;
}
.trip-overlay #onTripText {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 38px;
    color: var(--black);
}
.trip-overlay #bikeLogo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25%;
}
.trip-overlay #tripCost {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    color: var(--black);
}
.trip-overlay #tripTime {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: var(--black);
}
.trip-overlay #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    width: 200%;
    opacity: 10%;
}
/* #endregion */

/* #region User menu */
.user-settings {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    border-radius: 0;
}
.user-settings #backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    width: 6vh;
    height: 6vh;
    font-size: calc(0.35 * 6vh);
    margin-bottom: 1vh;
    color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-settings i {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-settings #topUserContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: var(--green);
    border-radius: 20px;
}
.user-settings #topUserContainer img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    width: 200%;
    opacity: 10%;
}
.user-settings #topUserContainer #backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--green);
    width: 6vh;
    height: 6vh;
    font-size: calc(0.35 * 6vh);
    margin-bottom: 1vh;
    border-radius: 999px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-settings #topUserContainer i {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-settings #userImage {
    background-color: var(--black);
    border-radius: 999px;
    width: 175px;
    height: 175px;
    position: absolute;
    top: calc(20% - (175px/2));
    left: calc(50% - (175px/2));
}
.user-settings #userName {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: larger;
}
.user-settings #balanceAndBonusContainer {
    position: absolute;
    top: 42%;
    left: 10px;
    width: calc(100% - 20px);
    height: 15%;
    background-color: var(--green);
    border-radius: 30px;
}
.user-settings #balanceAndBonusContainer #balanceContainer {
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(50% - 15px);
    height: calc(100% - 20px);
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.user-settings #balanceAndBonusContainer #bonusContainer {
    position: absolute;
    right: 10px;
    top: 10px;
    width: calc(50% - 15px);
    height: calc(100% - 20px);
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.user-settings #balanceAndBonusContainer #balanceContainer #balanceLabel, .user-settings #balanceAndBonusContainer #bonusContainer #bonusLabel,
.user-settings #statsContainer #totalDistanceContainer #totalDistanceLabel, .user-settings #statsContainer #totalTimeContainer #totalTimeLabel,
.user-settings #statsContainer #co2SavedContainer #co2SavedLabel, .user-settings #statsContainer #numberOfTripsContainer #numberOfTripsLabel {
    position: absolute;
    top: 5%;
}
.user-settings #balanceAndBonusContainer #balanceContainer #balance, .user-settings #balanceAndBonusContainer #bonusContainer #bonus,
.user-settings #statsContainer #totalDistanceContainer #totalDistance, .user-settings #statsContainer #totalTimeContainer #totalTime,
.user-settings #statsContainer #co2SavedContainer #co2Saved, .user-settings #statsContainer #numberOfTripsContainer #numberOfTrips {
    position: absolute;
    bottom: 20%;
    font-size: x-large;
}
.user-settings #subscriptionContainer {
    position: absolute;
    top: 60%;
    left: 10px;
    width: calc(100% - 20px);
    height: 15%;
    background-color: var(--green);
    border-radius: 30px;
}
.user-settings #subscriptionContainer div:first-child {
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.user-settings #subscriptionContainer div #cardSVG {
    position: absolute;
    height: 6vh;
    width: 6vh;
    font-size: 6vh;
    top: 10px;
    left: calc(25% - 3vh);
}
.user-settings #subscriptionContainer div #subscriptionName {
    position: absolute;
    left: 5%;
    width: 40%;
    top: 7vh;
    text-align: center;
}
.user-settings #subscriptionContainer div #subscriptionValidity {
    position: absolute;
    right: 5%;
    width: 40%;
    align-self: center;
    text-align: center;
    text-wrap: pretty;
}
.user-settings #statsContainer {
    position: absolute;
    top: 78%;
    left: 10px;
    width: calc(100% - 20px);
    height: 28%;
    background-color: var(--green);
    border-radius: 30px;
}
.user-settings #statsContainer #totalDistanceContainer {
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(50% - 15px);
    height: calc(50% - 15px);
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.user-settings #statsContainer #totalTimeContainer {
    position: absolute;
    right: 10px;
    top: 10px;
    width: calc(50% - 15px);
    height: calc(50% - 15px);
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.user-settings #statsContainer #co2SavedContainer {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(50% - 15px);
    height: calc(50% - 15px);
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.user-settings #statsContainer #numberOfTripsContainer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: calc(50% - 15px);
    height: calc(50% - 15px);
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.user-settings #settingsContainer {
    position: absolute;
    top: 109%;
    left: 10px;
    width: calc(100% - 20px);
    height: 25%;
    background-color: var(--green);
    border-radius: 30px;
}
.user-settings #settingsContainer #proxy {
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.user-settings #settingsContainer #proxy > div:first-child{
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 8%;
    text-align: center;
}

.user-settings #settingsContainer #proxy #proxyUrlInput{
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 25%;
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 30%;
    outline: 3px solid var(--green);
    border-radius: 999px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: var(--green);
    border: none;
    font-size: medium;
}

.user-settings #settingsContainer #proxy #resetProxyButton{
    background-color: var(--green);
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 66%;
    text-align: center;
    padding: 10px 40px;
    border-radius: 999px;
    color: white;
    font-size: large;
}

.user-settings #settingsContainer #proxy #setProxyButton{
    background-color: var(--green);
    position: absolute;
    z-index: 2;
    right: 5%;
    top: 66%;
    text-align: center;
    padding: 10px 40px;
    border-radius: 999px;
    color: white;
    font-size: large;
}

.user-settings #versionNumber {
    padding: 10px 10px;
    position: absolute;
    top: 138%;
    left: 10px;
    border-radius: 999px;
    color: var(--black);
    font-size: large;
}
.user-settings #logoutButton {
    padding: 10px 40px;
    background-color: var(--black);
    position: absolute;
    top: 137%;
    right: 10px;
    border-radius: 999px;
    color: white;
    font-size: large;
}
.user-settings #bottomSpacing {
    height: 3%;
    width: 100%;
    position: absolute;
    top: 142%;
    left: 0;
}
.user-settings #proxyNotWorking {
    text-decoration: underline;
    color: var(--green);
    position: absolute;
    bottom: 5vw;
    right: 5vw;
}
/* #endregion */

/* #region Place search menu */
.place-search-menu {
    background-color: var(--white);
    width: 100%;
    height: 45%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    /*animation: smooth-appear 1s ease forwards;*/
}
.place-search-menu #cancelButton {
    background-color: var(--black);
    width: 35%;
    height: 12%;
    position: absolute;
    z-index: 2;
    left: 5%;
    bottom: 27%;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.place-search-menu #chooseOnMapButton {
    background-color: var(--black);
    width: 50%;
    height: 12%;
    position: absolute;
    z-index: 2;
    right: 5%;
    bottom: 27%;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.place-search-menu #placeList {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 53%;
    overflow: scroll;
}
.place-search-element {
    background-color: var(--green);
    border-radius: 999px;
    padding: 15px 25px;
    position: relative;
    margin-bottom: 10px;
}
.place-search-element:hover {
    background-color: var(--black);
    color: #ffffff;
    cursor: pointer;
}
.place-search-menu #startNavigationButton {
    position: absolute;
    top: -80px;
    right: 5px;
    background-color: var(--black);
    border-radius: 999px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
}
.place-search-menu #startNavigationButton:hover {
    cursor: pointer;
}
.place-search-menu #startNavigationButton i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180%;
}
.place-search-menu #routeDetails {
    position: absolute;
    top: -80px;
    left: 5px;
    background-color: var(--black);
    border-radius: 999px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 0 15px;
}
/* #endregion */

/* #region Rotate screen notice */
.rotate-screen-notice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rotate-screen-notice #phone {
    height: 50px;
    width: 100px;
    border: 3px solid white;
    border-radius: 10px;
    animation: rotate 1.5s ease-in-out infinite alternate;
    display: block;
}
  
.rotate-screen-notice #message {
    color: white;
    font-size: 1em;
    margin-top: 40px;
    display: block;
    max-width: 60%;
    text-wrap: wrap;
    text-align: center;
}
  
@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-90deg)
    }
    100% {
        transform: rotate(-90deg)
    }
}
/* #endregion */

/* #region Navigation information panel landscape */
#navigationInfoPanel {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 15%;
    background-color: var(--green);
    color: white;
    border-radius: 999px;
    z-index: 16;
    display: flex;
    align-items: center;
}
#navigationInfoPanel img {
    height: 90%;
    position: absolute;
    left: 2%;
    top: 5%;
}
#navigationInfoPanel #tripCost {
    position: absolute;
    right: 29%;
}
#navigationInfoPanel #tripTime {
    position: absolute;
    right: 37%;
}
#navigationInfoPanel #endNavigationButton {
    height: 80%;
    position: absolute;
    top: 10%;
    right: calc(0.1 * 15vh);
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    padding: 0 20px;
}
#reachedFinalStation {
    height: 8%;
    position: absolute;
    bottom: 2%;
    right: 1%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    padding: 10px 15px;
    z-index: 16;
    color: white;
}
/* #endregion */

/* #region Navigation information panel portrait */
#navigationInfoPanelPortrait {
    position: absolute;
    top: 2%;
    left: 2.5%;
    width: 95%;
    height: 8%;
    background-color: var(--green);
    color: white;
    border-radius: 999px;
    z-index: 11;
    display: flex;
    align-items: center;
}
#navigationInfoPanelPortrait img {
    height: 80%;
    position: absolute;
    left: 2%;
    top: 10%;
}
#navigationInfoPanelPortrait #endNavigationButton {
    height: 80%;
    position: absolute;
    top: 10%;
    right: calc(0.1 * 8vh);
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    padding: 0 20px;
}
#onBikeButton {
    height: 8%;
    position: absolute;
    bottom: 2%;
    right: 2.5%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    padding: 0 15px;
    z-index: 11;
    color: white;
}
/* #endregion */

/* #region Rate trip menu */
.rate-trip-menu {
    background-color: rgba(35, 31, 32, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
#rateTripMenuCard {
    background-color: white;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
}
#rateTripMenuCard #backButton {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: transparent;
    width: 8vh;
    height: 8vh;
    font-size: calc(0.35 * 8vh);
    margin-bottom: 1vh;
    border-radius: 999px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rateTripMenuCard #backButton i {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
}
#rateTripMenuCard #textContent {
    position: absolute;
    top: 30px;
    left: calc(8vh + 2% + 5px);
    width: calc(80% - 20px - 20px);
}
#rateTripMenuCard img {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 25%;
}
#rateTripMenuCard #ratingLabel {
    position: absolute;
    bottom: 45%;
    width: 100%;
    text-align: center;
}
#rateTripMenuCard .rating {
    display: block;
    position: absolute;
    bottom: 25%;
    left: calc((100% - 30vh)/2);
    width: 35vh;
    height: 7vh;
    line-height: 7vh;
    font-size: 7vh;
}
#rateTripMenuCard .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}
#rateTripMenuCard .rating label:last-child {
    position: static;
}
#rateTripMenuCard .rating label:nth-child(1) {
    z-index: 5;
}
#rateTripMenuCard .rating label:nth-child(2) {
    z-index: 4;
}
#rateTripMenuCard .rating label:nth-child(3) {
    z-index: 3;
}
#rateTripMenuCard .rating label:nth-child(4) {
    z-index: 2;
}
#rateTripMenuCard .rating label:nth-child(5) {
    z-index: 1;
}
#rateTripMenuCard .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#rateTripMenuCard .rating label .icon {
    float: left;
    color: transparent;
}
#rateTripMenuCard .rating label:last-child .icon {
    color: var(--black);
}
#rateTripMenuCard .rating:not(:hover) label input:checked ~ .icon,
#rateTripMenuCard .rating:hover label:hover input ~ .icon {
    color: var(--green);
}
#rateTripMenuCard .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: var(--black);
    text-shadow: 0 0 5px var(--green);
}
#rateTripMenuCard #sendButton {
    background-color: var(--green);
    width: 30%;
    height: 15%;
    position: absolute;
    z-index: 2;
    right: 5%;
    bottom: 5%;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
#rateTripMenuCard #sendButton:focus {
    cursor: pointer;
}
/* #endregion */

/* #region Take unregistered bike */
#openTakeUnregisteredBikeButton {
    background-color: var(--black);
    color: white;
    border-radius: 999px;
    padding: 15px 25px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
}
#takeUnregisteredBike {
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--white);
    border-radius: 20px 20px 0 0;
}
#takeUnregisteredBike #unregisteredBikeNameInput {
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 30%;
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 15%;
    outline: 3px solid var(--green);
    border-radius: 999px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: var(--green);
    border: none;
    font-size: medium;
}
#takeUnregisteredBike #cancelButton {
    background-color: var(--green);
    width: 30%;
    height: 28%;
    position: absolute;
    z-index: 2;
    left: 5%;
    bottom: 15%;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
#takeUnregisteredBike #takeUnregisteredBikeButton {
    background-color: var(--green);
    width: 58%;
    height: 30%;
    position: absolute;
    z-index: 2;
    right: 5%;
    bottom: 15%;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
/* #endregion */

/* #region Custom alert box */
#modalContainer {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alertBox {
	width: 80%;
	min-height: 10%;
	border-radius: 20px;
	background-color: #fff;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox p {
    padding: 8%;
}

#alertBox input {
    background-color: rgb(255, 255, 255);
    width: calc(100% - 5% - 20px - 6px);
    height: 40px;
    outline: 3px solid var(--green);
    border: none;
    border-radius: 999px;
    display: block;
    padding-left: 5%;
    color: var(--green);
    font-size: medium;
    margin: 10px;
    margin-left: 13px;
}

#alertBox #closeBtn {
	display: block;
	position: relative;
	padding: 7px;
	width: 30%;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
	background-color: var(--green);
	border-radius: 999px;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px 40px;
}
#alertBox #yesBtn {
    display: block;
	position: relative;
	padding: 7px;
	width: 30%;
	text-align: center;
	color: #FFF;
	background-color: var(--green);
	border-radius: 999px;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px 20px;
}
#alertBox #noBtn {
    display: block;
	position: relative;
	padding: 7px;
	width: 30%;
	text-align: center;
	color: #FFF;
	background-color: var(--black);
	border-radius: 999px;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px 20px;
}
#alertBox ul {
    padding-left: 20px;
}
#alertBox li {
    margin-top: 10px;
}
/* #endregion */



